@model LibraryManagement.Models.Catalog.AssetIndexListingModel


<div id="assets">
    <h3> Library Calalog</h3>
    <div id="assetsTable"> 
        <table class="table table-condensed" id="catalogIndexTable">
            <thead>
                <tr      
            </thead>
        </table>
    </div>
</div>